@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'New Spirit';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('./new_spirit_medium-webfont.woff2') format('woff2'),
    url('./new_spirit_medium-webfont.woff') format('woff');
}

#oaw-wallet-widget {
  @tailwind base;
}

#oaw-wallet-widget {
  all: initial;
}

#oaw-wallet-widget::before,
#oaw-wallet-widget::after,
#oaw-wallet-widget *::before,
#oaw-wallet-widget *::after {
  all: unset;
}

#oaw-wallet-widget {
  @apply text-offwhite;

  h2 {
    @apply font-medium text-[1.75rem] text-offwhite text-center leading-tight;
    font-family: 'New Spirit', serif;
  }

  h3 {
    @apply font-bold text-xl leading-tight text-offwhite text-center mt-0 font-sans;
  }

  h4 {
    @apply font-bold text-base text-center;
  }

  a {
    @apply text-offwhite;
  }

  .oaw-button-plain {
    @apply text-lightgrey cursor-pointer bg-transparent border-none hover:text-offwhite p-0 rounded-sm min-w-0 min-h-0 font-normal transform-none transition-none select-none;
  }

  /* Hide number input spinbox */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input {
    @apply bg-lightdark;
  }

  input::placeholder {
    @apply text-lightgrey;
  }
}

#oaw-wallet-widget {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#oaw-wallet-widget ::selection {
  @apply text-primary bg-offwhite;
}

.oaw-btn-default-style {
  @apply px-4 py-2 relative inline-block rounded-lg text-sm font-bold
    border-b-[4px] border-t-[4px] border-x-0
    transition-all hover:border-b-offwhite/50
    focus:border-b-yellow/50
    bg-blue text-dark border-b-blue border-t-blue;

  min-width: 160px;
  min-height: 40px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oaw-btn-default-style:hover {
  transform: translateY(-2px);
}

#oaw-wallet-widget-btn .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#oaw-wallet-widget *:focus,
#oaw-wallet-widget *:focus-visible,
.oaw-btn-default-style:focus,
.oaw-btn-default-style:focus-visible {
  @apply outline outline-2 outline-offset-2 outline-yellow/50;
}

#oaw-wallet-widget p {
  margin: 0;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dashoffset: -124;
  }
}

/* #region loader */
.animation-loader > svg {
  width: 100%;
}

.animation-loader > svg path {
  transition: all 0.3s;
}

.animation-loader > svg path.dot-left {
  transform: translate(60px);
  animation: dotLeft 4s ease-in-out infinite;
}

.animation-loader > svg path.dot-center {
  animation: dotCenter 4s ease-in-out infinite;
}

.animation-loader > svg path.dot-right {
  transform: translate(-60px);
  animation: dotRight 4s ease-in-out infinite;
}

.animation-loader > svg path.triangle-left {
  animation: triangleLeft 4s ease-in-out infinite;
}

.animation-loader > svg path.triangle-right {
  animation: triangleRight 4s ease-in-out infinite;
}

@keyframes dotLeft {
  0% {
    transform: translate(60px);
    opacity: 1;
  }
  20% {
    transform: translate(0px);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 0;
  }
}
@keyframes dotCenter {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes dotRight {
  0% {
    transform: translate(-60px);
    opacity: 1;
  }
  20% {
    transform: translate(0px);
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    transform: translate(0px);
    opacity: 0;
  }
}
@keyframes triangleLeft {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  29% {
    transform: scale(1) translate(0, 0);
  }
  30% {
    transform: scale(3.3333) translate(-35%, -35%);
  }
  35% {
    transform: scale(2.6666) translate(-31%, -31%);
  }
  50% {
    transform: scale(4.3333, 2.6666) translate(-30%, -31%);
  }
  80% {
    transform: scale(4.3333, 2.6666) translate(-30%, -31%);
  }
  99% {
    transform: scale(4.3333, 2.6666) translate(-30%, -31%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
}
@keyframes triangleRight {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  29% {
    transform: scale(1) translate(0, 0);
  }
  30% {
    transform: scale(3.3333) translate(-35%, -35%);
  }
  35% {
    transform: scale(2.6666) translate(-31%, -31%);
  }
  50% {
    transform: scale(4.3333, 2.6666) translate(-46%, -31%);
  }
  80% {
    transform: scale(4.3333, 2.6666) translate(-46%, -31%);
  }
  99% {
    transform: scale(4.3333, 2.6666) translate(-46%, -31%);
    opacity: 1;
  }
  100% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
}
/* #endregion loader */
